<!DOCTYPE html>
<html>
    <head>
        <title>
            SP Properties
        </title>
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <table>
            <tr>
                <td>
                    <form onsubmit="event.preventDefault();" autocomplete="off";   action="">
                        <div>
                            <label for="">Property Name</label>
                            <input type="text" name="fullName">
                        </div>
                        <div>
                            <label for="">Propert Cost</label>
                            <input type="text" name="fullName">
                        </div>
                        <div>
                            <label for="">Entry Date</label>
                            <input type="text" name="fullName">
                        </div>
                        <div>
                            <label for="">Advance</label>
                            <input type="text" name="fullName">
                        </div>
                        <div>
                            <label for="">Commision</label>
                            <input type="text" name="fullName">
                        </div>
                        <div>
                            <label for="">Time-Alloted</label>
                            <input type="text" name="fullName">
                        </div>
                        <div>
                            <label for="">Property-Size</label>
                            <input type="text" name="fullName">
                        </div>
                        <div>
                            <label for="">Deposit-Amount</label>
                            <input type="text" name="fullName">
                        </div>
                        <div class="form-action-buttons">
                            <input type="submit" value="submit">
                        </div>
                    </form>
                </td>
                <td>
                    <table class="list" id="employeeList">
                        <thead>
                            <tr>
                                <th>PropertyName</th>
                                <th>Cost</th>
                                <th>EntryDate</th>
                                <th>Advance</th>
                                <th>Commision</th>
                                <th>TimeAlloted</th>
                                <th>PropertySize</th>
                                <th>DepositAmount</th>
                            </tr>
                        </thead>
                        <tbody>
    
                        </tbody>
                    </table>
                </td>
            </tr>
        </table>
        
        <script src="script.js"></script>
    </body>
</html>